body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #e9f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1, h2 {
    color: #007bff;
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333333;
}

select, textarea, input {
    width: calc(100% - 26px); /* Adjusted width to account for border and padding */
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box; /* Include padding and border in element's width calculation */
}

textarea {
    height: 100px;
    resize: none;
}

button, #download {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Adjusted margin for better spacing */
}

button:hover, #download:hover {
    background-color: #0056b3;
}

#message {
    color: red;
    margin-top: -15px; /* Adjusted negative margin */
}

#download {
    background-color: #28a745;
}

#download:hover {
    background-color: #218838;
}
